mat-card {
	margin-bottom: 6px;
}

.charge-field {
	margin-bottom: 5px;
	display: flex;
	label {
		margin-right: 5px;
	}
	span {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		flex: 1;
	}
}
