service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId

      match /categories/{document=**} {
      	allow read, write;
      }

      match /charges/{document=**} {
      	allow read, write;
      }
    }
  }
}