mat-card {
	margin-bottom: 6px;
}

.charge-field {
	margin-bottom: 5px;
}

.charge-field > label {
	margin-right: 5px;
}

.add-new-charge-btn {
	position: fixed;
	bottom: 12px;
	right: 12px;
}
