<div
	class="providers"
	fxLayout="row"
	fxLayout.xs="column"
	fxLayoutAlign="space-around center"
>
	<button
		mat-raised-button
		class="provider-button facebook"
		[ngClass.xs]="{ 'space-full-xs': true }"
		(click)="authProcess.signInWith(authProvider.Facebook)"
	>
		<mat-icon svgIcon="facebook"></mat-icon>
		Войти через Facebook
	</button>
	<button
		mat-raised-button
		class="provider-button google"
		[ngClass.xs]="{ 'space-full-xs': true }"
		(click)="authProcess.signInWith(authProvider.Google)"
	>
		<mat-icon svgIcon="google-colored"></mat-icon>
		Войти через Google
	</button>
</div>
