<div
	class="providers"
	[fxLayout]="layout"
	fxLayout.xs="column"
	[fxLayoutAlign]="layout == 'row' ? 'space-around center' : 'stretch'"
>
	<button
		mat-raised-button
		class="provider-button facebook"
		[ngClass.xs]="{ 'space-full-xs': true }"
		(click)="authProcess.signInWith(authProvider.Facebook)"
	>
		<mat-icon svgIcon="facebook"></mat-icon>
		Войти через Facebook
	</button>
	<button
		mat-raised-button
		class="provider-button google"
		[ngClass.xs]="{ 'space-full-xs': true }"
		(click)="authProcess.signInWith(authProvider.Google)"
	>
		<mat-icon svgIcon="google-colored"></mat-icon>
		Войти через Google
	</button>
</div>
