.mat-card {
    margin: 20px;
}

.space-top{
    margin-top: 20px;
}

.cut-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

mat-card-content,
.form-content,
.password-field-wrapper {
    display: flex;
    flex-direction: column;
}

mat-form-field {
    display: block;
}