<mat-card>
  <mat-card-title>Регистрация</mat-card-title>
  <mat-card-content fxLayout="column" fxLayoutAlign="center">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div fxLayout="column" fxLayoutAlign="center">
        <!--name-->
        <mat-form-field [appearance]="'standard'">
          <mat-label>Имя пользователя</mat-label>
          <input matInput placeholder="Имя пользователя" [formControl]="usernameControl" required>
          <mat-icon matSuffix>person</mat-icon>
          <mat-error *ngIf="usernameControl!.hasError('required')">
            Обязательное поле
          </mat-error>
        </mat-form-field>

        <!--email-->
        <mat-form-field [appearance]="'standard'">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="E-mail" type="email" [formControl]="emailControl">
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="emailControl!.hasError('required')">
            Обязательное поле
          </mat-error>
          <mat-error *ngIf="emailControl!.hasError('email')">
            Введите валидный e-mail адрес
          </mat-error>
        </mat-form-field>

        <!--password-->
        <div fxLayout="column">
          <mat-form-field [appearance]="'standard'">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Пароль" [formControl]="passwordControl" required>
            <mat-icon matSuffix>lock</mat-icon>

            <mat-hint align="end" aria-live="polite">
              {{passwordControl!.value.length}} / 25
            </mat-hint>

            <mat-error *ngIf="passwordControl!.hasError('required')" class="cut-text">
              Please do not forget the password
            </mat-error>
            <mat-error *ngIf="passwordControl!.hasError('minlength')" class="cut-text">
              The password must be at least 6 characters long.
            </mat-error>
            <mat-error *ngIf="passwordControl!.hasError('maxlength')" class="cut-text">
              The password can not be longer than 25 characters.
            </mat-error>

          </mat-form-field>
        </div>

        <button mat-raised-button type="submit" [color]="'primary'" [disabled]="signUpForm!.invalid" class="space-top">
          Зарегестрироваться
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>