<form [formGroup]="form">
  <mat-form-field [appearance]="'standard'">
    <mat-label>Сумма</mat-label>
    <input type="number" matInput [formControlName]="'price'" required>
    <span matSuffix>₴</span>
  </mat-form-field>
  <mat-form-field [appearance]="'standard'">
    <mat-label>Дата</mat-label>
    <input matInput [matDatepicker]="picker" [formControlName]="'date'" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker [touchUi]="true" [color]="'accent'" #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field [appearance]="'standard'">
    <mat-label>Категория</mat-label>
    <mat-select required>
      <mat-option *ngFor="let category of categories" [value]="category">
        {{category}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field [appearance]="'standard'">
    <mat-label>Описание</mat-label>
    <textarea matInput [formControlName]="'description'"></textarea>
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary">Сохранить</button>
</form>