mat-toolbar.mat-toolbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

mat-toolbar>mat-icon {
    margin-right: 11px;
}

mat-sidenav-container {
    height: 100vh;
    mat-sidenav-content {
        overflow: hidden;
    }
}

mat-sidenav {
    width: 200px;
}

main {
    padding: 66px 10px 10px 10px;
}

.nav-item-icon {
    margin-right: 5px;
}

.progress-bar-container {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}