mat-toolbar.mat-toolbar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
}

mat-toolbar > mat-icon {
	margin-right: 11px;
}

/*mat-sidenav-container {
	height: 100%;
}*/

mat-sidenav {
	width: 200px;
}

main {
	padding: 66px 10px 10px 10px;
}

.loading-container {
	display: flex;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	justify-content: center;
	align-items: center;
}
